<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>

        <title>Botcamp Documentation: cross-platform chat-bot API</title>
        <meta name='author' content='Botcamp'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Botcamp allows you to create cross-platform chatbots" />
        <meta name="keywords" content="botcamp, api, cross-platfrom, chatbot platform, documentation, slack, kik, messenger, telegram, wechat" />

        <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
        <link rel="manifest" href="favicon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>
    <body>
        <div class="logo">
            <a href="/"><img src="images/botcamp.svg" class="logo--image" alt="Botcamp" /></a>
        </div>

        <section class="content">
            ${content}
        </section>

        <footer class="footer">
            <h1 class="footer--sign">x x x</h1>
            <div class="copyright">
                <ul class="footer--menu">
                    <li class="footer--menu-link"><a href="http://botcamp.ai/terms.html">Terms of Service</a></li>
                    <li class="footer--menu-link"><a href="http://botcamp.ai/privacy.html">Privacy</a></li>
                    <li class="footer--menu-link"><a href="mailto:hi@botcamp.ai">Contact</a></li>
                </ul>
                <div>&copy; <b>BOTCAMP</b> 2016</div>
                <div class="copyright--description">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Assembled in Amsterdam</div>
            </div>
        </footer>

        <link href='https://fonts.googleapis.com/css?family=Nunito|Titillium+Web:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="src/styles.css">
        <link rel="stylesheet" href="src/highlight.css">
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-75895063-2', 'auto');
          ga('send', 'pageview');
        </script>
    </body>
</html>
